[tool.poetry]
name = "trackerstatus"
version = "0.1.2"
description = "A python library for gathering data from the trackerstatus.info website"
authors = ["mauvehed <mh@mvh.dev>"]
readme = "README.md"
repository = "https://github.com/mauvehed/trackerstatus"
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
requests = "^2.28.1"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
